.myButton {
	font-family: 'Montserrat', sans-serif;
	background-color: $progress-main;
	width: 20%;
	padding: 2%;
	border-radius: 1rem;
	box-shadow: none;
	border: none;
	font-size: 18px;
	cursor: pointer;
}